:root {
  --white-color: #fff;
  --dark-accent-color: #69665c;
  --accent-color: #b2afa1;
  --task-block-bg: #fff9de;
  --light-purple-color: #d2ceff;
  --light-blue-color: #d1e5f7;
  --pink-color: #ffcece;
  --light-green-color: #daf2d6;
  --field-bg: #f9f9f8;
}
